.navbar-title {
    font-weight: 300;
    font-size: 1.20rem;
}


.navbar-menu-button {
    margin-left: auto;

    .MuiButton-label {
        .MuiTypography-root {
            padding-right: 15px;
            text-transform: none;
        }
    }
}


.filter-popper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;

 
    .popper-datepicker, .filter-button {
        margin-top: 15px;
        width: 100%;
    }

    .popper-datepicker:first-child {
        margin-top: 0;
    }

    .download-loader > div {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
}

div[role="tooltip"] {
    z-index: 999;
}